<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
</head>
<body>
    <header>
        <img width = "1200" height = "400" src = "./images/logo-mercado-liebre.svg" alt ="logo">
        <p>Lugar para poner la barra de busqueda</p>
        <p>Compre a cuotas y sin tarjeta de credito</p>
        <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul type = "none">
            <li><a href="#">Crea tu cuenta</a></li>
            <li><a href="#">Ingresa</a></li>
            <li><a href="#">Mis compras</a></li>
        </ul>
    </header>
    <main>
        <section>
         <h3>Basado en lo ultimo que viste</h3>
             <article>
                <ul type = "None">
                    <h4> Cafetera Moulinex</h4>
                 <img width = "400" height = "400" src = "./images/img-cafetera-moulinex.jpg" alt ="Imagen Cafetera">
                    <li> $6.770</li>
                    <li> 40% OFF</li> 
                </ul>
            </article>
            <article>
                <ul type = "None">
                    <h4> MacBook Pro 2019</h4>
                 <img width = "400" height = "400" src = "./images/img-macbook-pro-2019.jpg" alt ="Imagen MacBook">
                    <li> $230.000</li>
                    <li> 20% OFF</li>  
                </ul>
            </article>
            <article>
                <ul type = "None">
                    <h4> Samsung Galaxy S10</h4>
                 <img width = "400" height = "400" src = "./images/img-samsung-galaxy-s10.jpg" alt ="Imagen Galaxy S10">
                    <li> $70.500</li>
                    <li> 10% OFF</li>
                </ul>
            </article>
            <article>
                <ul type = "None">
                    <h4> SmartTv Samsung 43"</h4>
                 <img width = "400" height = "400" src = "./images/img-tv-samsung-smart.jpg" alt ="Imagen Galaxy S10">
                    <li> $23.200</li>
                    <li> 5% OFF</li>
                </ul>
            </article>
        </section>
        //
        <section>
            <h3>Sección de Ofertas</h3>
                <article>
                   <ul type = "None">
                       <h4> Cafetera Moulinex</h4>
                    <img width = "400" height = "400" src = "./images/img-cafetera-moulinex.jpg" alt ="Imagen Cafetera">
                       <li> $6.770</li>
                       <li> 40% OFF</li> 
                   </ul>
               </article>
               <article>
                   <ul type = "None">
                       <h4> MacBook Pro 2019</h4>
                    <img width = "400" height = "400" src = "./images/img-macbook-pro-2019.jpg" alt ="Imagen MacBook">
                       <li> $230.000</li>
                       <li> 20% OFF</li>  
                   </ul>
               </article>
               <article>
                   <ul type = "None">
                       <h4> Samsung Galaxy S10</h4>
                    <img width = "400" height = "400" src = "./images/img-samsung-galaxy-s10.jpg" alt ="Imagen Galaxy S10">
                       <li> $70.500</li>
                       <li> 10% OFF</li>
                   </ul>
               </article>
               <article>
                   <ul type = "None">
                       <h4> SmartTv Samsung 43"</h4>
                    <img width = "400" height = "400" src = "./images/img-tv-samsung-smart.jpg" alt ="Imagen Galaxy S10">
                       <li> $23.200</li>
                       <li> 5% OFF</li>
                   </ul>
               </article>
           </section>
    </main>
    <footer>
        <article>
            <ul>
                <li><h4>Pagá con tarjeta o en efectivo</h4></li>
                   Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                <li><h4>Envío gratis desde $ 2.500</h4></li>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos. 
                <li><h4>Seguridad, de principio a fin</h4></li>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.    
            </ul>
           <p>Copyright © 1999-2020 MercadoLiebre S.R.L</p> 
        </article>
    </footer>
</body>
</html>