<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2? family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href = "/css/styles.css" rel = "stylesheet">
</head>
<body>
    <header>
        <section class="top-nav">
            <img class="im" src = "./images/logo-mercado-liebre.svg" alt ="logo">
           <!--<div class="search">
            <input id="searchbar"  type="text"
            name="search" placeholder="Buscar Productos.."><button><i class="fas fa-search"></i></button>
            </div> --> 
            <form id="form"  action="#" method="GET">
                <label class="form">
                    <input class="form-search" type="text" placeholder="Buscar Productos..." >
                    <button class="submit"><i class="fa fa-search"></i></button>
                </label>
            </form>
            
            <div class="centro">
                <p><i class="fas fa-hand-holding-usd"></i>Compre a cuotas y sin tarjeta de credito</p>
            </div>
        </section>
        
        <div class="nada">
            <ul class="nada-izq" type = "none">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="nada-der" type = "none">
                <li><a href="/register">Crea tu cuenta<i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresa<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </div>
        <div class="burger-menu" >
            <i class="fas fa-bars"></i>
    </header>
    <section >
        <img class="imagen1"  src="./images/img-home-banner.jpg" alt="">
    </section>
    <main>
        <section class="contenido">
            <h3>Basado en lo ultimo que viste</h3>
             <article class="main">
                <ul type = "None">
                 <img class="imagen" src = "./images/img-cafetera-moulinex.jpg" alt ="Imagen Cafetera"> 
                 <div class="descripcion">
                    <li class="img-env"><i class="fas fa-truck"></i></li>
                    <li class="precios"> $6.770</li>
                    <li class="descuentos"> 40% OFF</li>
                        <h4> Cafetera Moulinex</h4>
                 </div>
                </ul>
            </article>
            <article class="main">
                <ul type = "None">
                    <img class="imagen" src = "./images/img-macbook-pro-2019.jpg" alt ="Imagen MacBook">
                 <div class="descripcion">
                    <div class="img-env" ><li><i class="fas fa-truck"></i></li></div>
                    <li class="precios"> $230.000</li>
                    <li class="descuentos"> 20% OFF</li>
                    <h4> MacBook Pro 2019</h4>  
                 </div>       
                </ul>
            </article>
            <article class="main">
                <ul type = "None">
                    <img class="imagen" src = "./images/img-samsung-galaxy-s10.jpg" alt ="Imagen Galaxy S10">
                 <div class="descripcion">
                    <div class="img-env" ><li><i class="fas fa-truck"></i></li></div>
                    <li class="precios"> $70.500</li>
                    <li class="descuentos"> 10% OFF</li>
                    <h4> Samsung Galaxy S10</h4>
                 </div> 
                </ul>
            </article>
            <article class="main">
                <ul type = "None">
                    <img class="imagen" src = "./images/img-tv-samsung-smart.jpg" alt ="Imagen Galaxy S10">
                 <div class="descripcion">
                    <div class="img-env" ><li><i class="fas fa-truck"></i></li></div>
                    <li class="precios"> $23.200</li>
                    <li class="descuentos"> 5% OFF</li>
                    <h4> SmartTv Samsung 43"</h4>
                 </div> 
                </ul>
            </article>
        </section>
            <section class="contenido">
                <h3>Seccion de Ofertas</h3>
                 <article class="main">
                    <ul type = "None">
                     <img class="imagen" src = "./images/img-cafetera-moulinex.jpg" alt ="Imagen Cafetera"> 
                     <div class="descripcion">
                        <div class="img-env" ><li><i class="fas fa-truck"></i></li></div>
                        <li class="precios"> $6.770</li>
                        <li class="descuentos"> 40% OFF</li>
                        <h4> Cafetera Moulinex</h4>
                        
                     </div>
                    </ul>
                </article>
                <article class="main">
                    <ul type = "None">
                        <img class="imagen" src = "./images/img-macbook-pro-2019.jpg" alt ="Imagen MacBook">
                     <div class="descripcion">
                        <div class="img-env" ><li><i class="fas fa-truck"></i></li></div>
                        <li class="precios"> $230.000</li>
                        <li class="descuentos"> 20% OFF</li>
                        <h4> MacBook Pro 2019</h4>  
                     </div>       
                    </ul>
                </article>
                <article class="main">
                    <ul type = "None">
                        <img class="imagen" src = "./images/img-samsung-galaxy-s10.jpg" alt ="Imagen Galaxy S10">
                     <div class="descripcion">
                        <div class="img-env" ><li><i class="fas fa-truck"></i></li></div>
                        <li class="precios"> $70.500</li>
                        <li class="descuentos"> 10% OFF</li>
                        <h4> Samsung Galaxy S10</h4>
                     </div> 
                    </ul>
                </article>
                <article class="main">
                    <ul type = "None">
                        <img class="imagen" src = "./images/img-tv-samsung-smart.jpg" alt ="Imagen Galaxy S10">
                     <div class="descripcion">
                        <div class="img-env" ><li><i class="fas fa-truck"></i></li></div>
                        <li class="precios"> $23.200</li>
                        <li class="descuentos"> 5% OFF</li>
                        <h4> SmartTv Samsung 43"</h4>
                     </div> 
                    </ul>
                </article>
            </section>   
        </main>     
    <footer>
        <article class="footer">
          <div class="footer-square">
            <div class="img-fn" >
                <i class="fas fa-credit-card"></i>
            </div>
                <p class="h4">Pagá con tarjeta o en efectivo</p>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
          </div>
            <div class="footer-square">
                <div class="img-fn" >
                    <i class="fas fa-gift"></i>
             </div>
                <p class="h4">Envío gratis desde $ 2.500</p>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                   productos. Es un beneficio de Mercado Puntos. </p>
            </div>
            <div class="footer-square">
                <div class="img-fn" >
                    <i class="fas fa-user-shield"></i>
                </div>
                <p class="h4">Seguridad, de principio a fin</p>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                 porque estás siempre protegid@.</p>
            </div> 
        </article>
    </footer>
    <p class="cr">Copyright © 1999-2020 MercadoLiebre S.R.L</p>
</body>
</html>