<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    <link href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2? family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href = "/css/styles.css" rel = "stylesheet">
</head>
<body>
    <header>
        <section class="top-nav">
            <img class="im" src = "./images/logo-mercado-liebre.svg" alt ="logo">
            <form id="form"  action="#" method="GET">
                <label class="form">
                    <input class="form-search" type="text" placeholder="Buscar Productos..." >
                    <span class="feedback"></span>
                    <button class="submit"><i class="fa fa-search"></i></button>
                </label>
            </form>
            <div class="centro">
                <p><i class="fas fa-hand-holding-usd"></i>Compre a cuotas y sin tarjeta de credito</p>
            </div>
        </section>
        
        <div class="nada">
            <ul class="nada-izq" type = "none">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="nada-der" type = "none">
                <li><a href="/register">Crea tu cuenta<i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresa<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </div>
        <div class="burger-menu" >
            <i class="fas fa-bars"></i>
    </header>

    <form action="/login" method="POST" class="register-form">

        <label class="control-label" for = "login" >Nombre de Usuario:</label>
            <input class="input-login" type="text" login="login" id="login" required>
            <span class="feedback"></span>
        <label class="control-label" for = "passwordAccess" >Contraseña:</label>
            <input class="input-login" type="password" name="passwordAccess" id="passwordAccess" required>
            <span class="feedback"></span>
        <button class="button" type="submit"><a class="lk" href="/">Enviar</a></button>
    </form>   

<!--
    <footer>
        <article>
            <div class="img-fn" >
                <i class="fas fa-credit-card"></i>
            </div>
                <p class="h4">Pagá con tarjeta o en efectivo</p>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
             <div class="img-fn" >
                    <i class="fas fa-gift"></i>
             </div>
                <p class="h4">Envío gratis desde $ 2.500</p>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                   productos. Es un beneficio de Mercado Puntos. </p>
                <div class="img-fn" >
                    <i class="fas fa-user-shield"></i>
                </div>
                <p class="h4">Seguridad, de principio a fin</p>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                 porque estás siempre protegid@.</p>
        </article>
    </footer>
    <p class="cr">Copyright © 1999-2020 MercadoLiebre S.R.L</p>-->
</body>
</html>