* {
    box-sizing: border-box;
    padding: 0px;
}
body{
    width: 100%;
    background-color: #ebebeb;
    margin: 0px;
}
header {
    width: 100%;
    background-color: #EAC926;
    color : black;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 12px;
    height: 170px;
    
}

header img{
    width:150px;
    height:80px;
}
header input{
    margin-left: 20px;
}
.top-nav{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.im{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;

}
#form{
    display: flex;
}
.form{
    display: flex;
    align-items: center;
    align-self:auto;
    flex-direction: row;
    padding: 5px 0px;
}
.form-search{
    display: flex;
    align-items: center;
    align-self:auto;
    flex-direction: row;
    padding: 5px 0px;
}
.submit{
    display: flex;
    padding: 6px 0px;
}
.centro{
    display: flex;
    justify-content: center;
    font-size: 15px;
    align-self: center;
    height: 40px;
}
header button{
    margin-left: 0px;
}
header ul li a{
    text-decoration: none;
    color: black;
    text-align: left;
    margin: 0px;
    display: none;
}
li a{
    padding-left: 5px;
}
.nada{
    display: none;

}
h3{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color : #666;
    align-self: flex-start;
    margin-left: 50px;
}
h4 {
    display: flex;
    margin-top: 10px;
    margin-bottom:5px;
    padding: 0px;
    color : #666;
    font-family: 'Roboto', sans-serif;
    font-size: 16px; 
    font-weight: bold;
}



.burger-menu{
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    padding: 6px 6px 6px 6px;
    margin: auto;
    margin-top: 15px;
    background-color: #1259c3;
    
}
.contenido{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 1px;
    
}

.footer{
    display: flex;
    flex-direction: column;
}
footer article p{
    margin-top: 2px;
    padding: 0px;
    margin-bottom: 40px;
    color : #666;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 12px; 
    line-height: 10px;
}
.h4 {
    margin-top: 10px;
    margin-bottom:5px;
    padding: 0px;
    color : #666;
    font-family: 'Roboto', sans-serif;
    font-size: 16px; 
    font-weight: bold;
}
.cr{
    background-color: white;
    color : #666;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 12px; 
}
.img-fn{
    padding: 0px;
    text-align: center;
    color: #1259c3;
    font-size: 2em;
    line-height: 10px;
}
.descripcion{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-top: #ebebeb 1px solid;
    padding: 15px;
    width: 100%;
    position: relative;

}
.precios{
    display: flex;
    color : black;
    font-family: 'Roboto', sans-serif; 
    font-size: 18px;
    align-items: center;
    width: 22%;
}
.descuentos{
    display: flex;
    padding-left: 10px;
    color: #39b54a;
    font-family: 'Roboto', sans-serif; 
    font-size: 14px;
    align-items: center;
    width: 70%;
}

.imagen1{
   width: 100%;
}
.imagen{
width: 100%;
}
.img-env{
    display: flex;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    color: #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    text-align: right;
}
.img-env:hover{
    transform: rotate(-450deg);
    transition: .5s ease all
}
.main{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        box-shadow: 0px 0px 29px 2px rgba(0,0,0,0.47);
        border-radius: 20px;
        width: 90%;            
        margin-bottom: 5px;
}

.register-form{
    font-family: 'Times New Roman', Times, serif;
    width: 90% ;
    padding: 20px 15px;
    font-size: 20px;
}
.control-label{
    display: block;
    margin: 5px;
}
.input-control{
    width: 90%;
    border:gray 1px solid;
    border-radius: 5px;
    padding: 5px;
}
.high-button{
    display: flex;
}
.button{
    margin: 5px;
    padding: 3px;
    border-style: outset;
    display: flex;
    font-size: 15px;
}
.button:hover{
    background-color: #0022AA;
    border-style: outset;
    border: gray 1px solid;
    border-radius: 10px;
    padding: 4px;
    
}
.lk{
    text-decoration: none;
    color: black;
}
@media(min-width : 480px){
    .top-nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
        header{
            height: 120px;
            font-size: 18px;
        }
        #searchbar{
            width: 100%;
        }
       
        .centro{
            width: 25%;
            display: flex;
            font-size: 10px;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            align-content: space-around;
        }
        main{
            display: flex;
            flex-wrap: wrap;
        }
        .burger-menu{
            display: none;
        }
        h4{
            display: block;
        }
        header ul li a{
            display: flex;
        }
        .none{
            width: 45%;
        }
        .none li{
            width: 30%;
        }
        .nada{
            display: flex;
            justify-content: space-around;
            font-size: 9px; 
           
        }
        .nada-izq{
            display: flex;
        }
        .nada-der a, .nada-izq a{
            transition: all 200ms;
        }
        .nada-der a:hover{
            border-style: outset;
            border: gray 1px solid;
            border-radius: 10px;
            padding: 4px;
            color: white;
            background-color: #1259c3 ;
        }
        .nada-izq a:hover{
            border-style: outset;
            border: gray 1px solid;
            border-radius: 10px;
            padding: 4px;
            color: white;
            background-color: #1259c3 ;
        }
        .nada-der{
            display: flex;
        }
        .nada ul{
            display: flex;
            width: 45%; 
        }
        .nada ul li{
            margin: 0px;
            padding: 5px;
            font-size: 9px;
        }
        .nada li {
            justify-content: space-evenly;
        }
        .nada ul li i{
            padding-left: 2px;
        }
        .contenido{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around; 
    }
        .main{
            width: 46%; 
    }
    .precios{
        width: 40%;
    }
    .descuentos{
width: 60%;
    }
        footer{
            margin-top: 20px;
    }
}
@media(min-width : 769px){
.top-nav{
    display: flex;
    justify-content: space-around;
}
    header{
        height: 150px;
        font-size: 18px;
    }
    .im{
        width: 30%;
        height: 30%;
    }
    main{
        display: flex;
        flex-wrap: wrap;
    }
    .main{
        width: 23%;
    }
    .centro{
        width: 40%;
        display: flex;
        font-size: 20px;
    }
    .nada ul li{
        font-size: 15px;
    }
    .nada-izq{
        display: flex;
        justify-content: left;
    }
    .nada-der{
        display: flex;
        justify-content: right;
    }
    .burger-menu{
        display: none;
    }
    h4{
       opacity: 0;
       transition: all 250ms;
    }
    
    article .descripcion:hover h4{
            opacity: 1;
    }
    
    header ul li a{
        display: flex;
    }
    
    .imagen1{
        height: 35vh;
    }
    h3{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color : #666;
    align-self: flex-start;
    margin-left: 50px;
    }
    .precios{
        width: 44%;
    }
    .descuentos{
        width: 50%;
    }
.input-login{
    width: 50%;
    border:gray 1px solid;
    border-radius: 5px;
    padding: 5px;
}
.footer{
    display: flex;
    flex-direction: row;
}

.footer-square{
    display: flex;
    flex-direction: column;
    margin: 50px;
}
.footer-square p{
    font-size: 15px;
    line-height: 19px;
}
.img-fn{
    transition: all 300ms;
}
.img-fn:hover{
    color:#EAC926 ;
    font-size: 3em;
}
}

 @media(min-width: 1200px){
     body{
         max-width: 1200px;
         margin: auto;
     }
     .contenido{
         max-width: 1200px;
         display: flex;
     }
     .precios{
        width: 30%;
    }
    .descuentos{
        width: 50%;
    }
}