* {
    box-sizing: border-box;
    padding: 0px;
}
body{
    width: 100%;
    background-color: #ebebeb;
    margin: 0px;
}
header {
    width: 100%;
    background-color: #EAC926;
    color : black;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 12px;
    line-height: 10px;
    height: 200px;
}
header img{
    width:150px;
    height:80px;
    padding-left: 20px; 
}
header input{
    margin-left: 20px;
}
header button{
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    color: black;
    text-align: left;
    margin: 0px;
}
li a{
    padding-left: 5px;
}
h3{
    color : black;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}
h4 {
    margin-top: 10px;
    margin-bottom:5px;
    padding: 0px;
    color : #666;
    font-family: 'Roboto', sans-serif;
    font-size: 16px; 
    font-weight: bold;
}
main{
    width: 90vw;
    margin: auto;
    background-color: #ebebeb;
}

.precios{
    color : black;
    font-family: 'Roboto', sans-serif; 
    font-size: 18px;
}
.descuentos{
    color : black;
    font-family: 'Roboto', sans-serif; 
    font-size: 16px;
}
.centro{
    color : black;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 12px; 
}
.burger-menu{
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    padding: 6px 6px 6px 6px;
    margin: auto;
    background-color: blue;
}

footer{
    background-color: white;
}
footer article p{
    margin-top: 2px;
    padding: 0px;
    margin-bottom: 40px;
    color : #666;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 12px; 
    line-height: 10px;
}
.h4 {
    margin-top: 10px;
    margin-bottom:5px;
    padding: 0px;
    color : #666;
    font-family: 'Roboto', sans-serif;
    font-size: 16px; 
    font-weight: bold;
}
.cr{
    background-color: white;
    color : #666;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 12px; 
}
.img-fn{
    padding: 0px;
    text-align: center;
    color: #1259c3;
    font-size: 2em;
    line-height: 10px;
}
.descripcion{
    background-color: white;
    border-top: #ebebeb 1px solid;
    padding: 15px;
    width: 100%;
}
.imagen{
    width: 100%;
    height: 100%;
}
.img-env{
    color: green;
    border: green 1px solid;
    border-radius: 200px;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 15px;
    width: 40px;
}
@media(max-width : 769px){
    h4{
        display: none;
    }
    header ul li a,
    .nada{
        display: none;
    }
}

@media(min-width : 769px){
    header{
        height: 255px;
    }
    main{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .burger-menu{
        display: none;
    }
}