* {
    box-sizing: border-box;
    padding: 0px;
}
header {
    background-color: #EAC926;
    color : black;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 12px;
    line-height: 10px;
    height: 300px;
}
header img{
    width:150px;
    height:80px;
    padding-left: 20px; 
}
header input{
    margin-left: 20px;
}
header button{
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    color: black;
    text-align: left;
    margin: 0px;
}
li a{
    padding-left: 5px;
}
h3{
    color : black;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.precios{
    color : black;
    font-family: 'Roboto', sans-serif; 
    font-size: 18px;
}
.descuentos{
    color : black;
    font-family: 'Roboto', sans-serif; 
    font-size: 16px;
}
.centro{
    color : black;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 12px; 
}
.burger-menu{
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    padding: 6px 6px 6px 6px;
    margin-left: 180px;
    margin-bottom: 30px;
    background-color: blue;
}

footer article p{
    margin-top: 2px;
    padding: 0px;
    margin-bottom: 40px;
    color : #666;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 12px; 
    line-height: 10px;
}
.h4 {
    margin-top: 10px;
    margin-bottom:5px;
    padding: 0px;
    color : #666;
    font-family: 'Roboto', sans-serif;
    font-size: 16px; 
    font-weight: bold;
}
.cr{
    color : #666;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 12px; 
}
.img-fn{
    padding: 0px;
    text-align: center;
    color: #1259c3;
    font-size: 2em;
    line-height: 10px;
}